{{- $isDarwin := eq .chezmoi.os "darwin" -}}
{{- $isLinux := eq .chezmoi.os "linux" -}}
{{- $isWindows := eq .chezmoi.os "windows" -}}
{{- $usesSharedZsh := or $isDarwin $isLinux -}}

{{ if $usesSharedZsh }}
.oh-my-zsh/cache/**
.oh-my-zsh/custom/themes/powerlevel10k/**/*.zwc
{{ end }}

{{ if $isDarwin }}
Library/Fonts/Meslo/*.md
{{ end }}

.zoxide.nu
.logseq/**

.config/lvim/lazy-lock.json

{{ if not $usesSharedZsh }}
.chezmoiscripts/install-packages.sh
.oh-my-zsh/**
.tmux/**
.p10k.zsh
.tmux.conf
.tmux.conf.local
.zprofile
.zsh_aliases
.zshrc
.gnupg/**
{{ end }}

{{ if not $isLinux }}
.chezmoiscripts/*linux*.sh.tmpl
.docker/config.json
{{ end }}

{{ if not $isDarwin }}
.chezmoiscripts/*macos*.sh.tmpl
.sleep
.wakeup
.config/ghostty/**
.config/karabiner/**
{{ end }}

{{ if not $isWindows }}
.chezmoiscripts/*windows*.ps1.tmpl
AppData/**
Documents
Documents/PowerShell/**
.local/bin/lvim.bat
.local/bin/lvim.ps1
{{ end }}
