proxy_port_https=8234
proxy_port_all=8235
alias proxy='export https_proxy=http://127.0.0.1:$proxy_port_https;export http_proxy=http://127.0.0.1:$proxy_port_https;export all_proxy=socks5://127.0.0.1:$proxy_port_all'
alias unproxy='unset all_proxy;unset http_proxy;unset https_proxy'
alias zshconfig="nvim ~/.zshrc"
alias ohmyzsh="nvim ~/.oh-my-zsh"
if command -v lvim >/dev/null 2>&1; then
  alias nvim=lvim
fi
{{- if eq .chezmoi.os "darwin" }}
alias code="open -a /Applications/Visual\ Studio\ Code.app"
alias typora="open -a /Applications/Typora.app"
{{- else if eq .chezmoi.os "linux" }}
if command -v code.exe >/dev/null 2>&1; then
  alias code=code.exe
fi
{{- end }}
if command -v ranger >/dev/null 2>&1; then
  alias ra=ranger
fi
if command -v eza >/dev/null 2>&1; then
  alias ls="eza --icons"
fi
alias gg="lazygit"
{{- if eq .chezmoi.os "darwin" }}
if command -v bat >/dev/null 2>&1; then
  alias cat="bat --theme=\$(defaults read -globalDomain AppleInterfaceStyle &> /dev/null && echo default || echo GitHub)"
fi
{{- else if eq .chezmoi.os "linux" }}
if command -v bat >/dev/null 2>&1; then
  alias cat="bat --theme=GitHub"
fi
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
alias ghd="open -a /Applications/Github\ Desktop.app"
alias fork="open -a /Applications/Fork.app"
{{- end }}
