[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
	signingkey = {{ .gpgSigningkey }}
	useConfigOnly = true
[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig
[https "https://github.com"]
	proxy = socks5://127.0.0.1:6153
[http "https://github.com"]
	proxy = socks5://127.0.0.1:6153
[commit]
	gpgsign = true
	template = ~/.stCommitMsg
[gpg]
	program = /opt/homebrew/bin/gpg
[tag]
	forceSignAnnotated = true
[core]
	editor = lvim
	quotepath = false
	longpaths = true
	autocrlf = input
	trustctime = false
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.attributes_global
	ignorecase = false
	filemode = true
	untrackedcache = true
[init]
	defaultBranch = main

[merge]
    tool = unityyamlmerge

    [mergetool "unityyamlmerge"]
    trustExitCode = false
    cmd = '/Applications/Unity/Hub/Editor/2021.3.6f1/Unity.app/Contents/Tools/UnityYAMLMerge' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
[pull]
	rebase = false
[diff "text"]
	textconv = cat
[mergetool]
	keepBackup = false
	writeToTemp = true
[lfs]
	concurrenttransfers = 32
	fetchrecentrefsdays = 0
	pruneoffsetdays = 0
	dialtimeout = 3
	tlstimeout = 3
[rebase]
	backend = merge
[protocol]
	version = 1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[mergetool "*.*_unityyamlmerge"]
	cmd = '/Applications/Unity/Hub/Editor/2021.3.6f1/Unity.app/Contents/Tools/UnityYAMLMerge' merge -p $BASE $REMOTE $LOCAL $MERGED
	trustexitcode = false
[safe]
	directory = *
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[http]
	postBuffer = 655360000
[lfs "transfer"]
	maxretries = 1
	maxretrydelay = 2
[merge "lfs-text"]
	driver = git lfs merge-driver --ancestor %O --current %A --other %B --marker-size %L --output %A --program 'git merge-file --stdout --marker-size=%%L %%A %%O %%B >%%D'
